<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename='video_style.css')}}" />
    <title>Happy Anniversary</title>
</head>

<body>
    <div class="container">
        <video controls width="720">
            <source src="static/videos/Makhodversary-final.mp4" type="video/mp4">
            <div style="border: 1px solid black ; padding: 8px ;">
                 Sorry, your browser does not support the &lt;video&gt; tag used in this demo.
            </div>
        </video>
    </div>
</body>

</html>